# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate
*.xcscmblueprint
.swiftpm/

# macOS
.DS_Store

# Local secrets / logs
*.log
.env
